<div id="app">
  <navbar></navbar>
  <div class="container">
    <router-view></router-view>
  </div>
</div>

<%= stylesheet_link_tag "fullcalendar.min", :media => "all" %>
<%= stylesheet_link_tag "common", :media => "all" %>
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_pack_tag 'main' %>

