[v-cloak] {
    display: none;
}
.margin-default {
    margin-top: 30px;
}
.padding-default {
    padding-left: 20px;
}
.word-color-black {
    color: #000000;
}
.collection-item:hover {
    background-color: #ddd;
}
.line-through {
    text-decoration: line-through;
}
.btn-custom {
    text-transform: none;
    padding: 0 10px;
    font-size: 0.8rem;
    background-color: white;
    color: black;
    border-color: black;
}
.grid-header {
    font-weight: bold;
    background-color: #e1e1e1;
    vertical-align: middle;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.grid-row {
  margin: 0px;
  vertical-align: middle;
  /*padding: 16px;*/
}
.middle {
    vertical-align: middle !important;
}
/*****************************************
    配置/表示
*****************************************/
/* 右寄せ */
.text-align-right {
    text-align: right
}
/* 非表示 */
.display_none {
    display: none;
}
/*****************************************
    Table
*****************************************/
th {
    background-color: #e0e0e0;
}

/*****************************************
    FullCalendar
*****************************************/
/* カレンダーテーブル：日曜 */
td.fc-sun {
    background-color: #ffebee;
}
/* カレンダーテーブル：土曜 */
td.fc-sat {
    background-color: #e3f2fd;
}
/* ヘッダ */
.fc h2 {
    font-size : 20px;
}
/* 開始時間 */
.fc-time{
   display : none;
}

/*****************************************
    Transition
*****************************************/
.grid-row-enter-active,
.grid-row-leave-active,
.grid-row-move {
  transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity, transform;
}

.grid-row-enter {
  opacity: 0;
  transform: translateX(50px) scaleY(0.5);
}

.grid-row-enter-to {
  opacity: 1;
  transform: translateX(0) scaleY(1);
}

.grid-row-leave-active {
  position: absolute;
}

.grid-row-leave-to {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center top;
}